body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    font-family: Arial, sans-serif;
}

.app {
    text-align: center;
    margin-bottom: 50px;
    border: 2px solid red;
    height: auto;
}

.display {
    width: 100%;
    height: 120px;
    background-color: #f3f3f3;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 36px;
    margin-bottom: 20px;
}

.content {
    font-weight: bold;
    font-size: 36px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.input {
    margin-bottom: 10px;
}

.operator {
    color: dodgerblue;
    margin: 0 5px;
}

.output {
    color: green;
}


.calculator {
    width: 550px;
    text-align: left;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon {
    align-self: flex-end;
    margin-bottom: 20px;
}

.display {
    width: 100%;
    margin-bottom: 20px;
}

input[type="text"] {
    border: none;
    height: 80px;
    width: calc(100% - 20px);
    background-color: #675d5d;
    border-radius: 10px;
    margin-top: 10px;
    color: antiquewhite;
    font-weight: lighter;
    font-size: 36px;
    text-align: right;
    padding: 0 10px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
}

.key {
    background-color: #544f4f;
    color: white;
    height: 80px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.key:hover {
    background-color: #8c3da4;
}

.keys .key:nth-child(2),
.keys .key:nth-child(3),
.keys .key:nth-child(4),
.keys .key:nth-child(8),
.keys .key:nth-child(12),
.keys .key:nth-child(16),
.keys .key:nth-child(20) {
    background-color: #379a9b;
}

.key[data-key="equals"] {
    background-color: dodgerblue;
    color: white;
}

.key[data-key="equals"]:hover {
    background-color: #187bcd;
}
